.experience-container {
    max-width: 800px;
    margin: 0 auto;
}

.experience-container h2 {
    font-size: 2rem;
}

@media (max-width: 650px) {
    .experience-container {
        padding: 10px;
    }
}
