.hero {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-description {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

@media (max-width: 650px) {
    .hero-title {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .hero-description {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }
}
