.projectHolder {
    z-index: 2;
    position: relative;
    width: 200px;
    height: inherit;
    transition: width 0.5s ease;
    border-radius: 8px;
    padding: 10px;
}

.projectHolder:hover {
    width: 400px;
}

.projectHolder img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    border-radius: 8px;
}

.projectHolder img:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media (max-width: 650px) {
    .projectHolder {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .projectHolder:hover {
        width: 100%;
    }

    .projectHolder img {
        position: relative;
        width: 100%;
        height: auto;
        max-height: 250px;
        margin-bottom: 4px;
    }
}
