.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    transform: scale(0.33);
}

.footer svg {
    cursor: pointer;
}

.footer a {
    text-decoration: none;
    color: white;
}
