header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #1c1c1e;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.navbar h1 {
    width: 150px;
}

.navbar h1 a {
    color: #f0f0f0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar h1 a:hover {
    color: #ff6f61;
}

.navbar-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 48px;
    width: 400px;
}

.navbar-buttons li a,
.side-navbar-buttons .link li {
    color: #f0f0f0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-buttons li a:hover {
    color: #ff6f61;
}

.side-navbar-buttons {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.side-navbar-buttons .link {
    height: 125px;
    width: 100%;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    text-decoration: none;
}

.side-navbar-buttons .link:hover {
    background-color: #ff6f61;
}

.side-navbar-buttons .link:first-child {
    border-bottom-width: 0px;
}

.side-navbar-buttons .link:last-child {
    border-top-width: 0px;
}

.side-navbar-buttons .link li {
    height: 100%;
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-navbar-buttons svg {
    position: absolute;
    top: 32px;
    right: 48px;
    cursor: pointer;
}

.menu-button {
    display: none;
    cursor: pointer;
}

@media (max-width: 650px) {
    .navbar {
        height: 85px;
    }

    .hide-on-mobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}
